form {
    margin: 0 10%;
}

.input {
    display: flex;
    justify-content: center;
    justify-items: center;
    /* margin: 0 auto; */
    margin-bottom: 8px;
    font-size: 16px;
    width: 100%;
}

button,
input[type="submit"] {
    width: 120px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    border-style: solid;
}

button:hover,
input[type="submit"]:hover {
    cursor: pointer;
}

.buttonSubmit,
input[type="submit"] {
    margin-right: 10px;
    background: green;
    border-color: green;
    color: white;
}

.buttonSubmit:hover,
input[type="submit"]:hover {
    background: transparent;
    color: green;
}

.buttonReset {
    background: red;
    border-color: red;
    color: white;
}

.buttonReset:hover {
    background: transparent;
    color: red;
}

.errorMessage {
    color: red;
    display: flex;
    /* justify-content: center; */
}
